/* 3. Блок production*/
/* border: 2px solid yellow; */

.production__title {
  margin-top: 10px;
  }
  
  .production__about {
    display: flex;
    text-align: center;  
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 17px;
  }
  
  .production__about:last-child {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .production__cards {
    display: grid;
    max-width: 1184px;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    margin-top: 30px;
  }
  
  .production__card {
    padding: 1rem 1.5rem 2rem;
    height: 449px;
    border: 0.0625rem solid rgba(149,149,150,.25);
    background-color: #fff;
    border-radius: 0.25rem;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: all,.4s;
    transition: all,.4s;
  }


.production__about:last-child {
  margin-top: 0;
  margin-bottom: 0;
}

/* .production__image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: all,.4s;
  padding-top: 30px;
  padding-bottom: 50px;
  transition: all,.4s;
} */